﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DigitaLDesign.aspx.cs" Inherits="Assignment_2a.DigitaLDesign" %>


<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<div class="jumbotron">
    <h2><u>DigitalDesign</u></h2>
<p>Introduction to digital design is a standard undergraduate course in computer science, and electrical and computer engineering curriculums at many universities. While there are a wide variety of teaching approaches which emphasize different topics and aspects of digital design, there are numerous strong conceptual and education similarities. We present three strategic objectives in this article. The first is to summarize our extensive experiences teaching, searching, and developing conceptually new and highly effective ways to prepare students in designing digital systems.
The second objective is to present a paradigm-based teaching approach for designing large scale and detailed digital designs.</p> 
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent2" runat="server">
<div class="jumbotron">
&lt!DOCTYPE html&gt<br/>
&lt html lang="en"&gt<br/>
  &lt head&gt<br/>
    &lt meta charset="utf-8" &gt<br/>
    &lt title> Website!title &gt<br/>
    &lt meta name="description" content="This page contains my timetable!" &gt<br/>
  &lt head&gt<br/>
     &lt body &gt<br/>
    &lt h1  center>Schedule center h1 &gt<br/>
    &lt table align="center" border="1" &gt<br/>
      &lt thead &gt<br/>
      &lt tr &gt<br/>
        &lt td td &gt<br/>
        &lt td Monday td &gt<br/>
        &lt td Tuesday td &gt<br/>
        &lt td>Wednesday td &gt<br/>
        &lt td Thursday</td<td>Friday td &gt<br/>
      &lt tr &gt<br/>
      &lt thead &gt<br/>
      <!--web programming 11-2-->

      &lt tbody &gt<br/>
        &lt tr &gt<br/>
          &lt td&gt 8am &lt td &gt<br/>
          &lt tr &gt<br/>
         

</div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent3" runat="server">
<div class="jumbotron">
    &lt h2>tables&gt<br/>
                 &lt table border="1"&gt <br/>
				        &lt thead&gt<br/>
						       &lt tr&gt<br/>
							      &lt th&gt group<br/>
                                   &lt th&gt name&gt<br/>
								   &lt th&gt role&gt<br/>
					    &lt tbody&gt<br/>
                                &lt tr&gt<br/>
</div>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="MainContent4" runat="server">
<div class="jumbotron">
    <h6>Useful Links:</h6>
        <a href="https://www.W3schools.com">Digital Design link 1</a><br/>
        <a href="https://www.udacity.com/course/intro-to-html-and-css--ud001">Digital Design link 2</a><br />
        <a href="https://html.com/">Digital Design link 3</a><br />
        

        <a></a>
</div>
</asp:Content>
