﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="JavaScript.aspx.cs" Inherits="Assignment_2a.JavaScript" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
        <h2><u>JavaScript</u></h2>
   <p>JavaScript is a cross-platform, object-oriented scripting language used to make webpages interactive   
       There are also more advanced server side versions of JavaScript such as Node.
       Js which allow you to add more functionality to a website than simply downloading files .
       Inside a host environment. </p>
        </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent2" runat="server">
    <div class="jumbotron">
      <h2><u>lab 4 - ARRAYS & LOOPS - PART 1</u></h2><br/>
<h6>alert("Part 1");//COMMENT THIS OUT ONCE CONNECTED</h6><br/>

<h6>ARRAY OF FRUITS<br/>
<h6>var myFruits = ["Mango","Apple","Orange","Kiwi","Pear"];</h6><br/>
<h6>OUTPUT ONE FRUIT IN POPUP BOX</h6><br/>
alert(myFruits[0]);<br/>
        </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent3" runat="server">
    <div class="jumbotron">
    <h6> var cart=[];</h6>
    <h6>     var limit=35;</h6>
    <h6>     var total=0;</h6>
    <h6>     var freeshipping=false;</h6>

    <h6>     while(total<=limit){</h6>
   
    <h6>     var item = prompt("please enter the value of item");</h6>
    <h6>     //ADD ITEM PRICE TO CART ARRAY </h6>   
    <h6>     cart.push(item);</h6>
   <h6>  total= Number(total)+Number(item);//total+=Number(item);</h6>
   <h6> console.log("total " + total);</h6>
   <h6> console.log("Shopping cart "+cart);</h6>
    
        </div>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="MainContent4" runat="server">
    <div class="jumbotron">
    <h6>Useful Links:</h6>
        <a href="https://www.W3schools.com">JS link 1</a><br/><br/><br/><br/>
        <a href="https://www.javatpoint.com/javascript-tutorial">JS link 2</a><br/><br/><br/><br/>
        <a href="https://www.tutorialspoint.com">JS link 3</a><br/><br/><br/><br/>
        </div>
</asp:Content>
