﻿body {
    margin: 20px;
    background-image: url('image/img.jpg');
}
.navigation {
word-spacing:20px; 
}

a,a:hover{
    color:white;
}

.jumbotron a{
    color:blue;
}

.navigation li{
    display:inline-block;
    margin:10px;
}

#footer{
    color:white;
}

